* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-canvas {
	width: 800px;
	height: 800px;
	border: solid 5px rgb(25, 0, 255);
	background-color: rgb(0, 0, 0);
	animation: intro 1s;
}


@keyframes intro {
	from{width: 0px;}
	to{width: 800px;}
	from{height: 0px;}
	to{height:800px;}
	from{rotate: 180deg}
	to{rotate: 360deg;}
}